.hero-button {
    background-color: #f4ce14;
    width: 20rem;
    height: 3.5rem;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

.hero-button > p {
    margin: 0;
    color: #fff; /* Optional: Add text color for better visibility */
}