.booking-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.booking-card {
    border: 1px solid #ccc;
    background-color: #f4ce14;
    padding: 20px;
    text-align: center;
    max-width: 400px; /* Adjust the max-width as needed */
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.booking-card > h2 {
    font-size: 20pt;
}
.booking-card > p {
    font-size: 15pt;
}