.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4rem;
    padding-right: 14rem;
    height: 40rem;
    background-color: #495E57;
}

.hero-section {
    display: block;
    margin: 30px;
    padding-left: 40px;
    max-width: 45%;
}

.hero-title {
    color: #F4CE14;
    margin: 0;
}

.hero-location {
    color: #EDEFEE;
    margin: 0;
}

.hero-description {
    color: #EDEFEE;
}

.food-img {
    margin-top: 185px;
    border-radius: 25px;
    max-height: 35rem;
}

.specials {
    display: flex;
    padding: 1rem 6rem;
    padding-top: 6rem;
    justify-content: space-around;
    align-items: center;
}

.special-cards, .review-cards {
    display: flex;
    padding: 1rem 8rem;
    justify-content: center;
}

.review-cards {
    background-color: #495E57;
}

.reviews {
    display: flex;
    background-color: #495E57;
    padding: 1rem 6rem;
    justify-content: space-around;
    align-items: center;
}

.hero-section-2 {
    display: flex;
    align-items: center;
    padding: 5rem 6rem;
    background-color: #EDEFEE;
}

.image-container {
    position: relative;
    width: 50%;
}

.image-container img {
    width: 250px;
    height: 380px;
    object-fit: cover;
    border-radius: 15px;
}

.overlapped-image {
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.text-container {
    width: 50%;
    padding-left: 40px;
}

.text-container h1 {
    color: #F4CE14;
    font-size: 40pt;
    margin-bottom: 10px;
}

.text-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.text-container p {
    font-size: 16px;
    line-height: 1.5;
}