/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Karla', sans-serif; /* Default font for the body */
}

h1 {
  font-family: 'Markazi Text', sans-serif;
  font-size: 64pt;
  font-weight: medium; /* You might need to adjust this based on available weights */
}

h2 {
  font-family: 'Markazi Text', sans-serif;
  font-size: 40pt;
}

p {
  font-family: 'Karla', sans-serif;
  font-size: 18pt;
  font-weight: medium;
}
